<div class="container-login w-100 d-flex flex-row align-items-center justify-content-center h-100">
  <div class="container-components w-100">
    <div class="row">
      <div class="col-6 d-flex flex-row align-items-center justify-content-center">
        <img ngSrc="../../../../assets/images/logo.svg" alt="logo" height="293" width="400">
      </div>
      <div class="col-6 d-flex flex-row align-items-center justify-content-center container-right">
        <div>
          <div class="row pe-2 mt-2">
            <div class="col-12 d-flex flex-row justify-content-end">
              <mat-form-field>
                <mat-label i18n>{{ 'IDIOMA' | translate }}</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="food" (selectionChange)="changeLanguage(selectedValue)">
                  @for (language of languages; track language) {
                    <mat-option [value]="language.value">{{language.viewValue}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <form id="register-client" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="title-text-color">{{ 'REGISTRATION' | translate }}</h2>
              </div>
            </div>
            <div class="container-form-components">
              <div class="row mt-3">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label i18n>{{ 'FULL_NAME' | translate }}</mat-label>
                    <input matInput
                           [placeholder]="'FULL_NAME_PLACEHOLDER' | translate"
                           formControlName="nombre_empresa"
                           required
                           (blur)="updateErrorRequiredMessage('nombre_empresa')"
                           id="nombre_empresa"
                    >
                    @if (registerForm.get("nombre_empresa")?.invalid) {
                      <mat-error>{{getErrorRequiredMessage('nombre_empresa')}}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label i18n>{{ 'EMAIL' | translate }}</mat-label>
                    <input matInput
                           [placeholder]="'EMAIL_PLACEHOLDER' | translate"
                           formControlName="email"
                           required
                           (blur)="updateErrorRequiredMessage('email')"
                           id="email"
                    >
                    @if (registerForm.get("email")?.invalid) {
                      <mat-error>{{getErrorRequiredMessage('email')}}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'IDENTITY_TYPE' | translate }}</mat-label>
                    <mat-select formControlName="tipo_identificacion" [placeholder]="'IDENTITY_TYPE_PLACEHOLDER' | translate" required (blur)="updateErrorRequiredMessage('tipo_identificacion')" id="tipo_documento">
                      <mat-option value="1">{{ 'CC' | translate }}</mat-option>
                      <mat-option value="3">NIT</mat-option>
                      <mat-option value="2">{{ 'CE' | translate }}</mat-option>
                    </mat-select>
                    @if (registerForm.get("tipo_identificacion")?.invalid) {
                      <mat-error>{{getErrorRequiredMessage('tipo_identificacion')}}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label i18n>{{ 'IDENTITY_NUMBER' | translate }}</mat-label>
                    <input matInput
                           [placeholder]="'IDENTITY_NUMBER_PLACEHOLDER' | translate"
                           formControlName="numero_identificacion"
                           required
                           (blur)="updateErrorRequiredMessage('numero_identificacion')"
                           id="numero_identificacion"
                    >
                    @if (registerForm.get("numero_identificacion")?.invalid) {
                      <mat-error>{{getErrorRequiredMessage('numero_identificacion')}}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label i18n>{{ 'SECTOR' | translate }}</mat-label>
                    <input matInput
                           [placeholder]="'SECTOR_PLACEHOLDER' | translate"
                           formControlName="sector"
                           required
                           (blur)="updateErrorRequiredMessage('sector')"
                           id="sector"
                    >
                    @if (registerForm.get("sector")?.invalid) {
                      <mat-error>{{getErrorRequiredMessage('sector')}}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label i18n>{{ 'PHONE' | translate }}</mat-label>
                    <input matInput
                           [placeholder]="'PHONE_PLACEHOLDER' | translate"
                           formControlName="telefono"
                           required
                           (blur)="updateErrorRequiredMessage('telefono')"
                           id="telefono"
                    >
                    @if (registerForm.get("telefono")?.invalid) {
                      <mat-error>{{getErrorRequiredMessage('telefono')}}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label i18n>{{ 'COUNTRY' | translate }}</mat-label>
                    <input matInput
                           [placeholder]="'COUNTRY_PLACEHOLDER' | translate"
                           formControlName="pais"
                           required
                           (blur)="updateErrorRequiredMessage('pais')"
                           id="pais"
                    >
                    @if (registerForm.get("pais")?.invalid) {
                      <mat-error>{{getErrorRequiredMessage('pais')}}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label i18n>{{ 'USUARIO' | translate }}</mat-label>
                    <input matInput
                           [placeholder]="'USER_PLACEHOLDER' | translate"
                           formControlName="usuario"
                           required
                           (blur)="updateErrorRequiredMessage('usuario')"
                           id="usuario"
                    >
                    @if (registerForm.get("usuario")?.invalid) {
                      <mat-error>{{getErrorRequiredMessage('usuario')}}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label i18n>{{ 'CONTRASENA' | translate }}</mat-label>
                    <input matInput
                           [placeholder]="'PASSWORD_PLACEHOLDER' | translate"
                           formControlName="contrasena"
                           [type]="hide() ? 'password' : 'text'"
                           required
                           (blur)="updateErrorRequiredMessage('contrasena')"
                           id="contrasena"
                    >
                    <button
                      mat-icon-button
                      matSuffix
                      type="button"
                      (click)="clickEvent($event)"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide()"
                    >
                      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (registerForm.get("contrasena")?.invalid) {
                      <mat-error>{{getErrorRequiredMessage('contrasena')}}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label i18n>{{ 'CONFIRM_PASSWORD' | translate }}</mat-label>
                    <input matInput
                           [placeholder]="'CONFIRM_PASSWORD_PLACEHOLDER' | translate"
                           formControlName="confirmar_contrasena"
                           [type]="hide() ? 'password' : 'text'"
                           required
                           (blur)="updateErrorRequiredMessage('confirmar_contrasena')"
                           id="confirmar_contrasena"
                    >
                    <button
                      mat-icon-button
                      matSuffix
                      type="button"
                      (click)="clickEvent($event)"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide()"
                    >
                      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (registerForm.get("confirmar_contrasena")?.invalid) {
                      <mat-error>{{getErrorRequiredMessage('confirmar_contrasena')}}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <button
                    mat-flat-button
                    class="btn-abc-primary w-100"
                    [disabled]="!registerForm.valid"
                    i18n
                  >
                  {{ 'REGISTER' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
