.btn-form-primary {
    background-color:#407F7F !important; /* Aplica el color de fondo */
    color: #fff !important; /* Aplica el color del texto */
    border-style: groove;
    border-color: #d2cece;
    width: 225px;
  }

  .btn-form-secondary {
    background-color: #fff !important; /* Aplica el color de fondo */
    color:  #407F7F !important; /* Aplica el color del texto */
    border-color: #407F7F;
    width: 225px;
  }

  .observations {
    margin: 20px 0;
  }

  .custom-card {
    border: 2px solid #82BDAE; 
    border-radius: 8px; 
    padding: 10px;
    margin-top: 1%;
  }
  
