.payment-method {
    border: 3px solid #82BDAE;
}

.header {
    margin-top: 5%;
}

.payment-method-check-text{
    color: #407F7F !important;      
    font-weight: bold !important;   
    font-size: 16px !important;
}


.btn-form-primary {
    background-color:#407F7F !important; 
    color: #fff !important; 
    border-style: groove;
    border-color: #d2cece;
    width: 225px;
  }

  .btn-form-secondary {
    background-color: #fff !important; 
    color:  #407F7F !important; 
    border-color: #407F7F;
    width: 225px;
  }

  .payment-icon {
    height: 50px;
    margin-left: 8px;
  }

  .payment-icon-master {
    height: 30px;
    margin-left: 8px;
  }
