<h2 style="margin-left: 3%; margin-top: 2%;" class="title" mat-dialog-title>Gestionar incidencia</h2>
<form [formGroup]="incidentManagementForm" style="padding: 3%" (ngSubmit)="onSave()">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100" id="status-incident-managment">
                <mat-label>{{ 'STATUS' | translate }}</mat-label>
                <mat-select formControlName="status">
                  <mat-option value="1">{{ 'OPEN' | translate }}</mat-option>
                  <mat-option value="2">{{ 'DISMISSED' | translate }}</mat-option>
                  <mat-option value="3">{{ 'ESCALATED' | translate }}</mat-option>
                  <mat-option value="4">{{ 'CLOSED_SATISFACTORILY' | translate }}</mat-option>
                  <mat-option value="5">{{ 'CLOSED_UNSATISFACTORILY' | translate }}</mat-option>
                  <mat-option value="6">{{ 'REOPENED' | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'ASSIGNED_TO' | translate }}</mat-label>
                <input id="assignet_to_dialog" formControlName="assignetTo" matInput [placeholder]="'ASSIGNED_TO' | translate">
              </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'INCIDENT_DETAIL' | translate }}</mat-label>
                <textarea id="detalle_incidencia_dialog" formControlName="observations" matInput [placeholder]="'INCIDENT_DETAIL_PLACEHOLDER' | translate " style="height: 150px;"></textarea>
            </mat-form-field>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="(incidentManagementForm.get('observations')!.hasError('required') && incidentManagementForm.get('observations')!.touched)">
              {{ 'REQUIRED_INCIDENT_DETAIL' | translate }}
              </div>
              <div i18n class="alert alert-danger alert-dismissible fade show" *ngIf="(incidentManagementForm.get('observations')!.hasError('minlength') || incidentManagementForm.get('observations')!.hasError('maxlength'))">
                {{ 'REQUIRED_INCIDENT_DETAIL_SIZE' | translate }}
             </div>
        </div>
    </div>
    <app-upload-files (filesChanged)="onFilesChanged($event)"></app-upload-files>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center; margin-bottom: 10px">
            <button i18n (click)="onCancel()" mat-raised-button id="go-back" class="btn-form-secondary" style="width: 180px;">{{ 'CANCEL' | translate }}</button>
            <button i18n type="submit" id="update-incident" mat-raised-button class="btn-form-primary" style="margin-left: 10px">{{ 'SAVE' | translate }}</button>
        </div>
    </div>
</form>