.title {
    color: #126173;
    font-weight: bold;
    font-family: "Lato", sans-serif;
}

.btn-form-secondary {
    background-color: #fff !important; 
    color:  #407F7F !important; 
    border-color: #407F7F;
    width: 225px;
  }