<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h4 class="title-text-color title-size">{{ 'CHOOSE_YOUR_PLAN' | translate }}:</h4>
    </div>
    <div class="col-6" style="text-align: right; margin-top: 1%">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'CURRENCY_EXCHANGE' | translate }}</mat-label>
        <mat-select [(value)]="selectedCurrency">
          <mat-option value="COP">{{ 'COLOMBIAN_PESO' | translate }}</mat-option>
          <mat-option value="USD">{{ 'UNITED_STATES_DOLLAR' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-grid-list cols="3" rowHeight="1:2" [gutterSize]="'10px'">
        <!-- Plan Emprendedor -->
        <mat-grid-tile>
          <mat-card >
            <mat-card-header>
              <mat-card-title>{{ 'ENTREPRENEURIAL_PLAN' | translate }}</mat-card-title>
              <div *ngIf="isActivePlan(1)" class="active-tag" id="active-tag">{{ 'ACTIVE' | translate }}</div>
            </mat-card-header>
            <mat-card-content>
              <p>{{ 'DESCRIPTION_ENTREPRENEURIAL_PLAN' | translate }}.</p>
              <h2>
                <span class="price-symbol">$</span><span class="price-amount">{{ getPrice1() }}</span>
                <span class="price-unit">{{ selectedCurrency === 'COP' ? ('THOUSAND_MONTH' | translate) : ('MONTH' | translate) }}</span>
              </h2>
              <ul>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_ONE_PLAN_ONE' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_TWO_PLAN_ONE' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_THREE_PLAN_ONE' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_FOUR_PLAN_ONE' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_FIVE_PLAN_ONE' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_SIX_PLAN_ONE' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_SEVEN_PLAN_ONE' | translate }}
                </li>
              </ul>
            </mat-card-content>
            <mat-card-actions>
              <button *ngIf="!isActivePlan(1)" mat-flat-button class="btn-abc-primary w-100 obtener-btn" i18n (click)="openDialog('Plan Emprendedor', 1)">
                {{ 'OBTAIN' | translate }}
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>

        <!-- Plan Empresario -->
        <mat-grid-tile>
          <mat-card >
            <mat-card-header>
              <mat-card-title>{{ 'BUSINESS_PLAN' | translate }}</mat-card-title>
              <div *ngIf="isActivePlan(2)" class="active-tag" id="active-tag">{{ 'ACTIVE' | translate }}</div>
            </mat-card-header>
            <mat-card-content>
              <p>{{ 'DESCRIPTION_BUSINESS_PLAN' | translate }}</p>
              <h2>
                <span class="price-symbol">$</span><span class="price-amount">{{ getPrice2() }}</span>
                <span class="price-unit">{{ selectedCurrency === 'COP' ? ('THOUSAND_MONTH' | translate) : ('MONTH' | translate) }}</span>
              </h2>
              <ul>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_ONE_PLAN_TWO' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_TWO_PLAN_TWO' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_THREE_PLAN_TWO' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_FOUR_PLAN_TWO' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_FIVE_PLAN_TWO' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_SIX_PLAN_TWO' | translate }}
                </li>
              </ul>
            </mat-card-content>
            <mat-card-actions>
              <button *ngIf="!isActivePlan(2)" mat-flat-button class="btn-abc-primary w-100" i18n (click)="openDialog('Plan Empresario', 2)">
                {{ 'OBTAIN' | translate }}
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>

        <!-- Plan Empresario Plus -->
        <mat-grid-tile>
          <mat-card >
            <mat-card-header>
              <mat-card-title>{{ 'BUSINESS_PLAN' | translate }} Plus</mat-card-title>
              <div *ngIf="isActivePlan(3)" class="active-tag" id="active-tag">{{ 'ACTIVE' | translate }}</div>
            </mat-card-header>
            <mat-card-content>
              <p>{{ 'DESCRIPTION_BUSINESS_PLUS_PLAN' | translate }}</p>
              <h2>
                <span class="price-symbol">$</span><span class="price-amount">{{ getPrice3() }}</span>
                <span class="price-unit">{{ selectedCurrency === 'COP' ? ('THOUSAND_MONTH' | translate) : ('MONTH' | translate) }}</span>
              </h2>
              <ul>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_ONE_PLAN_TWO' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_ONE_PLAN_THREE' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_TWO_PLAN_THREE' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_THREE_PLAN_THREE' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_FOUR_PLAN_THREE' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_FIVE_PLAN_THREE' | translate }}
                </li>
                <li class="icon-list-item">
                  <mat-icon id="color-eye">check_circle</mat-icon> {{ 'FEATURE_FOUR_PLAN_TWO' | translate }}
                </li>
              </ul>
            </mat-card-content>
            <mat-card-actions>
              <button *ngIf="!isActivePlan(3)" mat-flat-button class="btn-abc-primary w-100" i18n (click)="openDialog('Plan Empresario Plus', 3)">
                {{ 'OBTAIN' | translate }}
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
