<div class="container-fluid">
    <form [formGroup]="incidentForm" 
    (ngSubmit)="createIncident()">
        <div class="row">
        <div class="col-12 text-center">
            <h4 class="title-text-color title-size">{{ 'CONTACT_INFORMATION' | translate }}</h4>
        </div>
        </div>
        <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'NAME' | translate }}</mat-label>
              <input id="name-person" formControlName="name" matInput [placeholder]="'NAME_PLACEHOLDER' | translate">
            </mat-form-field>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="incidentForm.get('name')!.hasError('required') && incidentForm.get('name')!.touched">
                 {{ 'REQUIRED_NAME' | translate }} 
            </div>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="(incidentForm.get('name')!.hasError('minlength') || incidentForm.get('name')!.hasError('maxlength'))">
              {{ 'REQUIRED_NAME_SIZE' | translate }}
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'LASTNAME' | translate }}</mat-label>
              <input id="lastname-person" formControlName="lastName" matInput [placeholder]="'LASTNAME_PLACEHOLDER' | translate">
            </mat-form-field>
            <div i18n class="alert alert-danger alert-dismissible fade show" *ngIf="incidentForm.get('lastName')!.hasError('required') && incidentForm.get('lastName')!.touched">
              {{ 'REQUIRED_LASTNAME' | translate }} 
            </div>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="(incidentForm.get('lastName')!.hasError('minlength') || incidentForm.get('lastName')!.hasError('maxlength'))">
              {{ 'REQUIRED_LASTNAME_SIZE' | translate }}
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'EMAIL' | translate }}</mat-label>
              <input id="email-person" formControlName="emailClient" matInput placeholder="xxxxxxxx@xxx.xxx">
            </mat-form-field>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="incidentForm.get('emailClient')!.hasError('required') && incidentForm.get('emailClient')!.touched">
              {{ 'REQUIRED_EMAIL' | translate }}
            </div>
            <div class="alert alert-danger alert-dismissible fade show" *ngIf="(incidentForm.get('emailClient')!.hasError('minlength') || incidentForm.get('emailClient')!.hasError('maxlength'))">
              {{ 'REQUIRED_EMAIL_SIZE' | translate }}
            </div>
            <div i18n class="alert alert-danger alert-dismissible fade show" *ngIf="(incidentForm.get('emailClient')!.hasError('pattern'))">
              {{ 'REQUIRED_EMAIL_SIZE' | translate }}  
            </div>
          </div>
        </div>
        <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100" id="identity-type-person">
                <mat-label>{{ 'IDENTITY_TYPE' | translate }}</mat-label>
                <mat-select formControlName="identityType">
                  <mat-option value="1">{{ 'CC' | translate }}</mat-option>
                  <mat-option value="2">{{ 'CE' | translate }}</mat-option>
                  <mat-option value="4">{{ 'PASAPORTE' | translate }}</mat-option>
                </mat-select>
              </mat-form-field>
              <div class="alert alert-danger alert-dismissible fade show" *ngIf="incidentForm.get('identityType')!.hasError('required') && incidentForm.get('identityType')!.touched">
                {{ 'IDENTITY_TYPE_REQUIRED' | translate }}
             </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'IDENTITY_NUMBER' | translate }}</mat-label>
                <input id="identity-number-person" formControlName="identityNumber" matInput [placeholder]="'REQUIRED_IDENTITY_TYPE_PLACEHOLDER' | translate">
              </mat-form-field>
              <div class="alert alert-danger alert-dismissible fade show" *ngIf="incidentForm.get('identityNumber')!.hasError('required') && incidentForm.get('identityNumber')!.touched">
                {{ 'IDENTITY_TYPE_REQUIRED' | translate }}
              </div>
              <div i18n class="alert alert-danger alert-dismissible fade show" *ngIf="(incidentForm.get('identityNumber')!.hasError('minlength') || incidentForm.get('identityNumber')!.hasError('maxlength'))">
                {{ 'REQUIRED_IDENTITY_TYPE_SIZE' | translate }} 
             </div>
             <div i18n class="alert alert-danger alert-dismissible fade show" *ngIf="(incidentForm.get('identityNumber')!.hasError('pattern'))">
              {{ 'REQUIRED_IDENTITY_TYPE_FORMAT' | translate }}  
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'CELLPHONE' | translate }}</mat-label>
                <input id="cellphone-person" formControlName="cellPhone" matInput [placeholder]="'CELLPHONE_PLACEHOLDER' | translate">
              </mat-form-field>
              <div class="alert alert-danger alert-dismissible fade show" *ngIf="incidentForm.get('cellPhone')!.hasError('required') && incidentForm.get('cellPhone')!.touched">
                {{ 'REQUIRED_CELLPHONE' | translate }} 
              </div>
              <div i18n class="alert alert-danger alert-dismissible fade show" *ngIf="(incidentForm.get('cellPhone')!.hasError('minlength') || incidentForm.get('cellPhone')!.hasError('maxlength'))">
                {{ 'REQUIRED_CELLPHONE_SIZE' | translate }}
             </div>
             <div i18n class="alert alert-danger alert-dismissible fade show" *ngIf="(incidentForm.get('cellPhone')!.hasError('pattern'))">
              {{ 'REQUIRED_CELLPHONE_FORMAT' | translate }}
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h4 id="incident-detail-title" class="title-text-color title-size">{{ 'INCIDENT_DETAIL' | translate }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="w-100" id="tipo-incidencia">
                    <mat-label>{{ 'INCIDENT_DETAIL' | translate }}</mat-label>
                    <mat-select formControlName="incidentType">
                      <mat-option i18n value="Petición">{{ 'REQUEST' | translate }}</mat-option>
                      <mat-option i18n value="Queja/Reclamo">{{ 'COMPLAIN-CLAIM' | translate }} </mat-option>
                      <mat-option i18n value="Sugerencia">{{ 'SUGGESTION' | translate }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="incidentForm.get('incidentType')!.hasError('required') && incidentForm.get('incidentType')!.touched">
                    {{ 'INCIDENT_TYPE_REQUIRED' | translate }}
                 </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <mat-form-field appearance="outline" class="w-100" id="canal-incidencia">
                    <mat-label>{{ 'INCIDENT_CHANNEL' | translate }}</mat-label>
                    <mat-select formControlName="incidentChannel">
                      <mat-option value="Llamada Telefónica">{{ 'INCIDENT_CHANNEL_CALL' | translate }}</mat-option>
                      <mat-option value="Correo Electrónico">{{ 'INCIDENT_CHANNEL_EMAIL' | translate }}</mat-option>
                      <mat-option value="App Movil">{{ 'INCIDENT_CHANNEL_APP' | translate }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="incidentForm.get('incidentChannel')!.hasError('required') && incidentForm.get('incidentChannel')!.touched">
                    {{ 'REQUIRED_INCIDENT_CHANNEL' | translate }}
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'INCIDENT_SUBJECT' | translate }}</mat-label>
                    <input id="asunto_incidencia" formControlName="incidentSubject" matInput [placeholder]="'INCIDENT_SUBJECT_PLACEHOLDER' | translate">
                </mat-form-field>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="incidentForm.get('incidentSubject')!.hasError('required') && incidentForm.get('incidentSubject')!.touched">
                  {{ 'REQUIRED_INCIDENT_SUBJECT' | translate }}
                  </div>
                  <div class="alert alert-danger alert-dismissible fade show" *ngIf="(incidentForm.get('incidentSubject')!.hasError('minlength') || incidentForm.get('incidentSubject')!.hasError('maxlength'))">
                    {{ 'REQUIRED_INCIDENT_SUBJECT_SIZE' | translate }}
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'INCIDENT_DETAIL' | translate }}</mat-label>
                    <textarea id="detalle_incidencia" formControlName="incidentDetail" matInput [placeholder]="'INCIDENT_DETAIL_PLACEHOLDER' | translate " style="height: 150px;"></textarea>
                </mat-form-field>
                <div class="alert alert-danger alert-dismissible fade show" *ngIf="(incidentForm.get('incidentDetail')!.hasError('required') && incidentForm.get('incidentDetail')!.touched)">
                  {{ 'REQUIRED_INCIDENT_DETAIL' | translate }}
                  </div>
                  <div i18n class="alert alert-danger alert-dismissible fade show" *ngIf="(incidentForm.get('incidentDetail')!.hasError('minlength') || incidentForm.get('incidentDetail')!.hasError('maxlength'))">
                    {{ 'REQUIRED_INCIDENT_DETAIL_SIZE' | translate }}
                 </div>
            </div>
        </div>
        <app-upload-files (filesChanged)="onFilesChanged($event)"></app-upload-files>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center; margin-bottom: 10px">
                <button i18n mat-raised-button id="go-back" (click)="goBack()" class="btn-form-secondary" style="width: 180px;">{{ 'GO_BACK' | translate }}</button>
                <button i18n type="submit" id="save-incident" mat-raised-button class="btn-form-primary" style="margin-left: 10px">{{ 'SAVE_INCIDENT' | translate }}</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="isLoading" class="loading-overlay">
  <mat-spinner></mat-spinner>
</div>