.title-size {
    font-size: 45px;
}


  .btn-form-primary {
    background-color:#82BDAE !important; /* Aplica el color de fondo */
    color: #fff !important; /* Aplica el color del texto */
    border-style: groove;
    border-color: gray;
  }

  .btn-form-secondary {
    background-color: #fff !important; /* Aplica el color de fondo */
    color: #82BDAE !important; /* Aplica el color del texto */
    border-color: #82BDAE;
  }