#mat-mdc-dialog-title-0{
  font-weight: bold;
  font-family: 'Roboto';
  color: #126173;
  font-size: 1.25em;
}

app-plan-dialog > mat-dialog-content > p{
  font-family: 'Roboto';
  color: black;
  font-size: 0.75em;
}

#btn-rechazar {
  font-family: 'Lato', sans-serif;
  font-size: 0.875;
  font-weight: bold;
  color: #BA1A1A;
  background-color: transparent;
}

#btn-aceptar {
  font-family: 'Lato', sans-serif;
  font-size: 0.875;
  font-weight: bold;
  color: #82BDAE;
  background-color: transparent;
}
