.title {
    color: #126173;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    text-align: center;
}

.btn-form-primary {
    background-color:#407F7F !important;
    color: #fff !important; 
    border-style: groove;
    border-color: #d2cece;
    width: 170px;
  }

  .btn-form-secondary {
    background-color: #fff !important; 
    color:  #407F7F !important; 
    border-color: #407F7F;
    width: 170px;
  }
