<div class="container-fluid">
  
  
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 1%">
      <h6 class="title-text-color title-size">{{ 'CLIENT_INFORMATION' | translate }}</h6>    
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title class="custom-card-title">

            <div class="row" style="margin-top: 5%;">
              <div class="col-lg-3 col-md-3 col-sm-3" style="margin-top: 1%">
                <mat-icon matListIcon class="sidebar-color-item" style="margin-right: 1%;">account_circle</mat-icon>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9" style="margin-top: 1%">
                <span matLine class="sidebar-color-item">{{ userName }}</span>
              </div>      
            </div>
          
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <br>
          <p><b>{{ 'IDENTITY_TYPE' | translate }}</b>: {{documentType}}</p>
          <p><b>{{ 'IDENTITY_NUMBER' | translate }}</b>: {{documentNumber}}</p>
          <p><b>{{ 'UPDATE_DATE' | translate }}</b>: {{lastUpdate}}</p>
          <p><b>{{ 'PHONE' | translate }}</b>: {{phone}}</p>
          <p><b>{{ 'EMAIL' | translate }}</b>: {{email}}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-8" style="margin-top: 1%">
      <h6 class="title-text-color title-size">{{ 'Listado de incidencias' | translate }}</h6>
      <table mat-table [dataSource]="dataIncidents" matSort class="mat-elevation-z8" id="incidences-table">
        
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> {{ 'ACTIONS' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="goToIncidentDetail(element.id)" mat-icon-button aria-label="Ver detalles" id="custom-detail-incident">
              <mat-icon id="custom-color-eye">visibility</mat-icon>
            </button>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="th-code">{{ 'CODE' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="th-description">{{ 'DESCRIPTION' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="th-subject">{{ 'INCIDENT_SUBJECT' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.asunto}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="th-created-at">{{ 'CREATED_AT' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_creacion.split("T")[0]}} </td>
        </ng-container>
        
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="th-updated-at"> {{ 'UPDATE_DATE' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_actualizacion.split("T")[0]}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4" style="margin-top: 1%">
      <div class="row" style="margin-top: 5%;">
        <div class="col-lg- col-md-1 col-sm-1" style="margin-top: 1%">
        </div>

        <div class="col-lg-5 col-md-5 col-sm-5" style="margin-top: 1%">
          <button mat-flat-button id="btn-dashboard-plans" class="custom-register-button" [routerLink]="['/dashboard/plans']">{{ 'PLANS' | translate }}</button>
          <br>
          <br> 
          <button mat-flat-button id="btn-dashboard" class="custom-register-button" [routerLink]="['/dashboard/profile']">{{ 'DASHBOARD' | translate }}</button>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5" style="margin-top: 1%">
          <button mat-flat-button id="btn-reports" class="custom-register-button" [routerLink]="['/dashboard/report']">{{ 'REPORTS' | translate }}</button>
          <br>
          <br>
          <button mat-flat-button id="btn-shipments" class="custom-register-button" [routerLink]="['/dashboard/invoice']">{{ 'INVOICES' | translate }}</button>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1" style="margin-top: 1%">
        </div>

      </div>
      

    </div>
    
    <div class="col-lg-8 col-md-8 col-sm-8" style="margin-top: 1%">
      <h6 class="title-text-color title-size">{{ 'Listado de agentes' | translate }}</h6>
      <table mat-table [dataSource]="dataAgents" matSort class="mat-elevation-z8" id="agents-table">
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef id="th-actions-agent"> {{ 'ACTIONS' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="Ver detalles" id="custom-detail-agent">
              <mat-icon id="custom-color-eye">visibility</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="nombreUsuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="th-user">{{ 'USER' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_usuario}} </td>
        </ng-container>
        <!-- Columna de Identificación -->
        <ng-container matColumnDef="identificacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="th-identification-agent">{{ 'IDENTIFICATION' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.numero_identificacion}} </td>
        </ng-container>
        <!-- Columna de Nombre completo -->
        <ng-container matColumnDef="nombreCompleto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="th-fullname">{{ 'FULL_NAME' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_completo}} </td>
        </ng-container>
        <ng-container matColumnDef="correoElectronico">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="th-email"> {{ 'EMAIL' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.correo_electronico}} </td>
        </ng-container>
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header id="th-phone"> {{ 'PHONE' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="agentDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: agentDisplayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>


