.example-card {
    max-width: 100%;
    border-color: #82BDAE;
  }
  
.example-card-footer {
padding: 16px;
}

.custom-mat-button-toggle{
  background-color: #82BDAE;
  color: white;
}


.custom-register-button{
  background-color: #82BDAE;
  color: white;
  width: 100%;
  height: 80%;
}

.custom-eleveted-button {
  --md-elevated-button-container-shape: 0px;
  --md-elevated-button-label-text-font: system-ui;
  --md-sys-color-surface-container-low: #FAFDFC;
  --md-sys-color-primary: #191C1C;
}

.custom-card-title {
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #82BDAE;
}


#custom-detail-incident{
  border: transparent;
  background: transparent;
}

#custom-color-eye {
  color: #82BDAE
}


#custom-detail-agent{
  border: transparent;
  background: transparent;
}