<div class="container-fluid">
  
  
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: 1%">
      <h6 class="title-text-color title-size">{{ 'Información del cliente' | translate }}</h6>    
      <mat-card class="example-card" appearance="outlined">
        <mat-card-header>
          <mat-card-title>
            <mat-icon matListIcon class="sidebar-color-item">account_circle</mat-icon>
            <span matLine class="sidebar-color-item">{{ userName }}</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><b>Tipo de documento</b>: {{documentType}}</p>
          <p><b>Número de documento</b>: {{documentNumber}}</p>
          <p><b>Fecha de actualización</b>: {{lastUpdate}}</p>
          <p><b>Telefono</b>: {{phone}}</p>
          <p><b>Correo electrónico</b>: {{email}}</p>
        </mat-card-content>
        <mat-card-footer class="example-card-footer">
          <mat-chip-set aria-label="Chihuahua traits">
            <button mat-flat-button id="btn-change-pass" class="w-100">Cambio de contrasena</button>
          </mat-chip-set>
        </mat-card-footer>
      </mat-card>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: 1%">
      <h6 class="title-text-color title-size">{{ 'Listado de incidencias' | translate }}</h6>
      <table mat-table [dataSource]="dataIncidents" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> {{ 'ACTIONS' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="Ver detalles" id="detail-agent">
              <mat-icon id="color-eye">visibility</mat-icon>
            </button>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CODE' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'DESCRIPTION' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="subject">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'SUBJECT' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.asunto}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'CREATED_AT' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_creacion}} </td>
        </ng-container>
        
        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'UPDATED_AT' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha_actualizacion}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>


  <div class="row">

    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: 1%">
      <h6 class="title-text-color title-size">{{ 'Acciones' | translate }}</h6>
      <div class="row">
        <button [routerLink]="['/dashboard/plans']" mat-flat-button id="btn-create-agent" class="w-100">{{ 'Planes' | translate }}</button>
        <button [routerLink]="['/dashboard']" mat-flat-button id="btn-create-agent" class="w-100">{{ 'Dashboard' | translate }}</button>
      </div>
      <div class="row">
        <button [routerLink]="['/reportes']" mat-flat-button id="btn-create-agent" class="w-100">{{ 'Reportes' | translate }}</button>
        <button [routerLink]="['/facturas']" mat-flat-button id="btn-create-agent" class="w-100">{{ 'Facturas' | translate }}</button>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6" style="margin-top: 1%">
      <h6 class="title-text-color title-size">{{ 'Listado de agentes' | translate }}</h6>
      <table mat-table [dataSource]="dataAgents" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef> {{ 'ACTIONS' | translate }} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="Ver detalles" id="detail-agent">
              <mat-icon id="color-eye">visibility</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="nombreUsuario">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'USER' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_usuario}} </td>
        </ng-container>
        <!-- Columna de Identificación -->
        <ng-container matColumnDef="identificacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'IDENTIFICATION' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.numero_identificacion}} </td>
        </ng-container>
        <!-- Columna de Nombre completo -->
        <ng-container matColumnDef="nombreCompleto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'FULL_NAME' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre_completo}} </td>
        </ng-container>
        <ng-container matColumnDef="correoElectronico">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'EMAIL' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.correo_electronico}} </td>
        </ng-container>
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PHONE' | translate }} </th>
          <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="agentDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: agentDisplayedColumns;"></tr>
      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>


</div>


