<div class="container-fluid">
  <div class="row">
    <h4 class="title-text-color title-size title">{{ 'BOARD_INCIDENTS' | translate }}</h4>
  </div>
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-3">
        <mat-form-field appearance="outline" class="w-100" id="channel">
          <mat-label>{{ 'INCIDENT_CHANNEL' | translate }}</mat-label>
          <mat-select formControlName="canal_id">
            <mat-option value="1">{{ 'PHONE_CALL' | translate }}</mat-option>
            <mat-option value="2">{{ 'EMAIL' | translate }}</mat-option>
            <mat-option value="3">{{ 'MOBILE_APP' | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field appearance="outline" class="w-100" id="status">
          <mat-label>{{ 'STATUS' | translate }}</mat-label>
          <mat-select formControlName="state">
            <mat-option value="1">{{ 'OPEN' | translate }}</mat-option>
            <mat-option value="2">{{ 'DISMISSED' | translate }}</mat-option>
            <mat-option value="3">{{ 'ESCALATED' | translate }}</mat-option>
            <mat-option value="4">{{ 'CLOSED_SATISFACTORILY' | translate }}</mat-option>
            <mat-option value="5">{{ 'CLOSED_UNSATISFACTORILY' | translate }}</mat-option>
            <mat-option value="6">{{ 'REOPENED' | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="w-100">
          <mat-label>{{ 'START_DATE' | translate }}</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="start_date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-3">
        <mat-form-field class="w-100">
          <mat-label>{{ 'END_DATE' | translate }}</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="end_date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-5">&nbsp;</div>
      <div class="col-2">
        <button mat-flat-button class="btn-abc-primary w-100" type="submit" color="primary">{{ 'FILTER' | translate }}</button>
      </div>
      <div class="col-5">&nbsp;</div>
    </div>
  </form>
  <div class="row">
    <div class="col-12 title-text-color" style="font-size: 1.25em;">{{ 'COMMUNICATION_CHANNELS' | translate }}</div>
  </div>
  <div class="row">
    <div class="col-4">
      <mat-card class="channel-card email">
        <h2>Llamada Telefónica</h2>
        <h1>{{ phoneCallPercentage }} %</h1>
        <span class="arrow"><mat-icon id="color-eye">arrow_upward</mat-icon></span>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="channel-card chatbot">
        <h2>Correo Electrónico</h2>
        <h1>{{ emailPercentage }} %</h1>
        <span class="arrow"><mat-icon id="color-eye">arrow_upward</mat-icon></span>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="channel-card app">
        <h2>App Movil</h2>
        <h1>{{ appPercentage }} %</h1>
        <span class="arrow"><mat-icon id="color-eye">arrow_upward</mat-icon></span>
      </mat-card>
    </div>
  </div>
</div>
