<div class="container-login w-100 d-flex flex-row align-items-center justify-content-center h-100">
  <div class="container-components w-100">
    <div class="row">
      <div class="col-6 d-flex flex-row align-items-center justify-content-center">
        <img ngSrc="../../../../assets/images/logo.svg" alt="logo" height="293" width="400">
      </div>
      <div class="col-6 d-flex flex-row align-items-center justify-content-center container-right">
        <div>
          <div class="row pe-2 mt-2">
            <div class="col-12 d-flex flex-row justify-content-end">
              <mat-form-field>
                <mat-label>Idioma</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="language" id="s-language">
                  @for (language of languages; track language) {
                    <mat-option [value]="language.value">{{language.viewValue}}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <form
            id="login"
            [formGroup]="loginForm"
            (ngSubmit)="!loginForm.invalid && authenticate(loginForm.value)"
          >
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="title-text-color" i18n>Iniciar sesión</h2>
              </div>
            </div>
            <div class="container-form-components">
              <div class="row mt-3">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Usuario</mat-label>
                    <input
                      id="txt-username"
                      matInput
                      placeholder="example"
                      formControlName="username"
                      (blur)="updateErrorUsernameMessage()"
                      required
                    >
                    @if (loginForm.get("username")?.invalid) {
                      <mat-error>{{errorUsernameMessage()}}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Contraseña</mat-label>
                    <input
                      id="txt-password"
                      matInput
                      placeholder="Placeholder"
                      [type]="hide() ? 'password' : 'text'"
                      formControlName="password"
                      (blur)="updateErrorPasswordMessage()"
                      required
                    >
                    <button
                      mat-icon-button
                      matSuffix
                      type="button"
                      (click)="clickEvent($event)"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide()"
                    >
                      <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (loginForm.get("password")?.invalid) {
                      <mat-error>{{errorPasswordMessage()}}</mat-error>
                    }
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <button
                    id="btn-signin"
                    mat-flat-button
                    class="btn-abc-primary w-100"
                    [disabled]="!loginForm.valid"
                  >
                    INGRESAR
                  </button>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <button
                    id="btn-register"
                    mat-stroked-button class="w-100">
                    REGISTRARSE
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
