<div class="container-fluid user-query-container">
    <div class="title-section">
      <h1 class="title-text-color">Consulta información del usuario</h1>
      <p class="subtitle">Ingresa tu tipo y número de documento</p>
    </div>
    <form [formGroup]="userQueryForm" (ngSubmit)="userQuery()">
      <div>
        <mat-form-field appearance="outline" style="width: 20%">
          <mat-label>Tipo de documento</mat-label>
          <mat-select formControlName="identityType" required>
            <mat-option value="cedula">Cédula de ciudadanía</mat-option>
            <mat-option value="pasaporte">Pasaporte</mat-option>
            <mat-option value="nit">NIT</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="error-container alert alert-danger alert-dismissible fade show" *ngIf="userQueryForm.get('identityType')!.hasError('required') && userQueryForm.get('identityType')!.touched">
          El campo tipo de documento es requerido
       </div>
      </div>
      <div>
          <mat-form-field appearance="outline" style="width: 20%">
              <mat-label>Número de documento</mat-label>
              <input
                formControlName="identityNumber"
                matInput
                placeholder="Numero de documento"
              />
          </mat-form-field>
          <div class="error-container alert alert-danger alert-dismissible fade show" *ngIf="userQueryForm.get('identityNumber')!.hasError('required') && userQueryForm.get('identityNumber')!.touched">
              el numero de documento es requerido
            </div>
            <div class="error-container alert alert-danger alert-dismissible fade show" *ngIf="(userQueryForm.get('identityNumber')!.hasError('minlength') || userQueryForm.get('identityNumber')!.hasError('maxlength'))">
              el numero de documento debe tener un tamaño de 2 a 12 caracteres
           </div>
           <div class="error-container alert alert-danger alert-dismissible fade show" *ngIf="(userQueryForm.get('identityNumber')!.hasError('pattern'))">
              El numero de identificación debe ser un valor numérico
          </div>
      </div>
      <button
        type="submit"
        mat-raised-button
        class="btn-form-primary"
        style="margin-left: 10px"
      >
        CONSULTAR
      </button>
    </form>
  </div>
  