<mat-drawer-container class="menu-container">
  <mat-drawer mode="side" [opened]="true" class="sidenav menu-drawer">
    <mat-nav-list>
      <a mat-list-item routerLink="/perfil" class="menu-item text-center">
        <mat-icon matListIcon><img ngSrc="../../../../assets/images/logo.svg" alt="logo" height="50" width="50"></mat-icon>
      </a>
      <a *ngIf="currentMenuUser.perfil" mat-list-item routerLink="/perfil" class="menu-item text-center">
        <mat-icon matListIcon class="sidebar-color-item">account_circle</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'PERFIL' | translate }}</span>
      </a>
      <a *ngIf="currentMenuUser.incidentes" mat-list-item [routerLink]="['/dashboard/user-query']" class="menu-item text-center" id="incident-dashboard">
        <mat-icon matListIcon class="sidebar-color-item">build</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'INCIDENTS' | translate }}</span>
      </a>
      <a *ngIf="currentMenuUser.agentes" mat-list-item routerLink="/agentes"[routerLink]="['/dashboard/list/agents']" class="menu-item text-center">
        <mat-icon matListIcon class="sidebar-color-item">person</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'AGENTS' | translate }}</span>
      </a>
      <a *ngIf="currentMenuUser.planes" mat-list-item routerLink="/planes" class="menu-item text-center active">
        <mat-icon matListIcon class="sidebar-color-item">store</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'PLANS' | translate }}</span>
      </a>
      <a *ngIf="currentMenuUser.dashboard" mat-list-item routerLink="/dashboard" class="menu-item text-center">
        <mat-icon matListIcon class="sidebar-color-item">dashboard</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'DASHBOARD' | translate }}</span>
      </a>
      <a *ngIf="currentMenuUser.reportes" mat-list-item routerLink="/reportes" class="menu-item text-center">
        <mat-icon matListIcon class="sidebar-color-item">description</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'REPORTS' | translate }}</span>
      </a>
      <a *ngIf="currentMenuUser.facturas" mat-list-item routerLink="/facturas" class="menu-item text-center">
        <mat-icon matListIcon class="sidebar-color-item">receipt</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'INVOICES' | translate }}</span>
      </a>
      <a  *ngIf="currentMenuUser.salir" mat-list-item routerLink="/facturas" class="menu-item text-center ">
        <mat-icon matListIcon class="text-danger">logout</mat-icon>
        <span matLine class="text-danger">{{ 'LOGOUT' | translate }}</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


