<mat-drawer-container class="menu-container">
  <mat-drawer mode="side" [opened]="true" class="sidenav menu-drawer">
    <mat-nav-list>
      <a mat-list-item routerLink="/perfil" class="menu-item text-center">
        <mat-icon matListIcon><img ngSrc="../../../../assets/images/logo.svg" alt="logo" height="50" width="50"></mat-icon>
      </a>
      <a *ngIf="currentMenuUser.perfil" mat-list-item routerLink="/perfil" title="ir a perfil" class="menu-item text-center" aria-label="Ir a Perfil" id="perfil-dashboard">
        <mat-icon matListIcon class="sidebar-color-item">account_circle</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'PERFIL' | translate }}</span>
      </a>
      <a *ngIf="currentMenuUser.incidentes" mat-list-item [routerLink]="['/dashboard/incident/list']" class="menu-item text-center" id="incident-dashboard">
        <mat-icon matListIcon class="sidebar-color-item">build</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'INCIDENTS' | translate }}</span>
      </a>
      <a *ngIf="currentMenuUser.agentes" mat-list-item [routerLink]="['/dashboard/list/agents']" class="menu-item text-center" id="agents-dashboard">
        <mat-icon matListIcon class="sidebar-color-item">person</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'AGENTS' | translate }}</span>
      </a>
      <a *ngIf="currentMenuUser.planes" mat-list-item [routerLink]="['/dashboard/plans']" class="menu-item text-center active" id="plans-dashboard">
        <mat-icon matListIcon class="sidebar-color-item">store</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'PLANS' | translate }}</span>
      </a>
      <a *ngIf="currentMenuUser.dashboard" mat-list-item [routerLink]="['/dashboard/board']" class="menu-item text-center" id="incident-board">
        <mat-icon matListIcon class="sidebar-color-item">dashboard</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'DASHBOARD' | translate }}</span>
      </a>
      <a *ngIf="currentMenuUser.reportes" mat-list-item routerLink="/reportes" class="menu-item text-center">
        <mat-icon matListIcon class="sidebar-color-item">description</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'REPORTS' | translate }}</span>
      </a>
      <a *ngIf="currentMenuUser.facturas" mat-list-item [routerLink]="['/dashboard/invoice']" class="menu-item text-center" id="invoice-dashboard">
        <mat-icon matListIcon class="sidebar-color-item">receipt</mat-icon>
        <span matLine class="sidebar-color-item">{{ 'INVOICES' | translate }}</span>
      </a>
      <a  *ngIf="currentMenuUser.salir" (click)="logOut()" mat-list-item routerLink="/facturas" class="menu-item text-center ">
        <mat-icon matListIcon class="text-danger">logout</mat-icon>
        <span matLine class="text-danger">{{ 'LOGOUT' | translate }}</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container-fluid">
      @if(isVisibleChatbot) {
        <div class="example-button-container">
          <button mat-mini-fab aria-label="Icono para abrir el chat" (click)="chatDrawer.toggle()" class="floating-button">
            <img
              src="assets/images/inteligencia-artificial.gif"
              alt="Icono para abrir el chat"
              class="ia-icon" fill/>
          </button>
        </div>
      }
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>

    <mat-drawer #chatDrawer mode="over" position="end" class="chat-drawer">
        <div class="chat-content">
          <div class="responses"  #responseContainer>
            <div
              *ngFor="let response of responses"
            >
              <div [class]="response.type == 'USER' ? 'bubble-user' : 'bubble-ia'">
                <div *ngIf="response.type == 'USER'" class="me-2">
                  <mat-icon class="icon">person</mat-icon>
                </div>
                <span class="bubble-context">
                  {{ response.context }}
                </span>
                <div *ngIf="response.type == 'IA'" class="ms-2">
                  <mat-icon class="icon">support_agent</mat-icon>
                </div>
              </div>
            </div>
            <div *ngIf="isLoading" class="loading-indicator">
              <mat-spinner></mat-spinner>
              </div>
          </div>
          <form id="chat-ia"
                [formGroup]="iaPredictionForm"
                (ngSubmit)="!iaPredictionForm.invalid && sendRequest(iaPredictionForm.value)">
            <div class="row">
              <div class="col-12">
                <mat-form-field appearance="outline" class="w-100">
                  <div class="d-flex flex-row justify-content-center align-items-center">
                    <textarea
                      id="txt-user-input"
                      matInput
                      [placeholder]="'CONTRASENA' | translate"
                      formControlName="context"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                    >
              </textarea>
                    <button
                      mat-mini-fab
                      color="primary"
                      type="submit"
                      aria-label="Send"
                      [disabled]="!iaPredictionForm.valid"
                    >
                      <mat-icon>send</mat-icon>
                    </button>
                  </div>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
    </mat-drawer>
</mat-drawer-container>


